In [2]:
# Q1
L = [('Sachin Tendulkar', 34357),('Ricky Ponting', 27483),('Jack Kallis', 25534),('Virat Kohli', 24936)]
sorted_list = sorted(L, key=lambda x: x[1])
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [3]:
#Q2
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#Q3
nums_list = [1,2,3,4,5,6,7,8,9,10]
result_list = tuple(map(str,nums_list))
print(result_list)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
# q4
import functools
lis = range(1,26)
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 325

In [11]:
# Q5
num_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: (x % 2&3 == 0), num_list))
print("Numbers divisible are",result)

Numbers divisible are [2, 6, 60, 90, 120, 46]

In [12]:
# Q6
l = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), l)) 
print(result)

['php', 'aba', 'radar', 'level']