In [1]:
# Q1
# use a for loop when u know the loop should execute n times.
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [8]:
# Q2
l = [1,2,3,4,5,6,7,8,9,10]
result = 0
for i in l :
    result = result+ i
result

55

In [10]:
l = [1,2,3,4,5,6,7,8,9,10]
result = 1
for i in l :
    result = result* i
result

3628800

In [17]:
num = int(input("enter a number"))
if num < 0:
    print("enter a positive number")
else:    
    sum = 0
    while(num>0):
        sum += num
        num -= 1
    print(sum)

enter a number 10

55

In [21]:
num = int(input("enter a number"))
if num < 0:
    print("enter a positive number")
else:    
    sum = 1
    while(num>0):
        sum =sum*num
        num -= 1
    print(sum)

enter a number 10

3628800

In [47]:
# Q3
num = int(input("enter ELECTRICITY consumed a month"))
if num <= 100:
    bill = 4.5
    bill = bill *num
    print("electricity bill is",bill)
else:
    if( num > 100 & num <= 200) :
        bill = 6
        bill = bill *num
    print("electricity bill is",bill)
else:
    if( num > 200 & num <= 300) :
        bill = 10
        bill = bill *num
         print("electricity bill is",bill)  
else:
    if( num > 300 & num <= 400) :
        bill = 20
        bill = bill *num
         print("electricity bill is",bill)

enter ELECTRICITY consumed a month 200

electricity bill is 1200

In [51]:
list(range(1,100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [55]:
for i in list(range(1,100)):
    res = []
    res.append(i*i*i)
    print(res)

[1]
[8]
[27]
[64]
[125]
[216]
[343]
[512]
[729]
[1000]
[1331]
[1728]
[2197]
[2744]
[3375]
[4096]
[4913]
[5832]
[6859]
[8000]
[9261]
[10648]
[12167]
[13824]
[15625]
[17576]
[19683]
[21952]
[24389]
[27000]
[29791]
[32768]
[35937]
[39304]
[42875]
[46656]
[50653]
[54872]
[59319]
[64000]
[68921]
[74088]
[79507]
[85184]
[91125]
[97336]
[103823]
[110592]
[117649]
[125000]
[132651]
[140608]
[148877]
[157464]
[166375]
[175616]
[185193]
[195112]
[205379]
[216000]
[226981]
[238328]
[250047]
[262144]
[274625]
[287496]
[300763]
[314432]
[328509]
[343000]
[357911]
[373248]
[389017]
[405224]
[421875]
[438976]
[456533]
[474552]
[493039]
[512000]
[531441]
[551368]
[571787]
[592704]
[614125]
[636056]
[658503]
[681472]
[704969]
[729000]
[753571]
[778688]
[804357]
[830584]
[857375]
[884736]
[912673]
[941192]
[970299]

In [57]:
# Q5
string = "I want to become a data scientist"
count = 0
i = 0
for i in range(len(string)):
    if (
        (string[i] == "a")
        or (string[i] == "e")
        or (string[i] == "i")
        or (string[i] == "o")
        or (string[i] == "u")
    ):
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  11